*{
  margin: 0;
padding: 0;}

body{  background-image: url("background.jpg")  ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
 
 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
}

.card-num{
  display: block;
  
  border-radius: 100%;
  border:none;
display: flex;
align-self: center;
justify-self: center;

  
  
}
.Card-container{
 
  background-image: linear-gradient(red, yellow, green);
  
 
  
  display:grid ;

  grid-template-columns: repeat(4,18%); 
  
  grid-template-rows: repeat(5, 15%);
  gap: 3%;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  box-shadow: 10px 10px 5px black;
  border:2px solid black;
  border-radius: 2%;
  


}

.card-face{
  
  


border: solid 1px black;
  border-radius: 50%;
  border: none;
 
  
 
}
.titletext{font-size: 1.5rem;
  font-weight: 900;
color: rgb(198, 198, 246);}
.cards{


border: none;


}
.cardalt{
  
 border-radius: 100%;
  width: 20%;
  min-width:380px;
 border: none;

}
img{
  border-radius: 100%;
  

  

}
main{
  vertical-align: top;
  border-radius: 2%;
}
.scoreBox{
  font-size: larger;
 margin:0 ;
 padding-left: 40%;
  
 
  background-color: yellow;

  border: 3px solid black;


}
@media (min-width: 900px) {
  .Card-container{
  display:grid ;

  grid-template-columns: repeat(5,18%); 
  
  grid-template-rows: repeat(4, 15%);
  gap: 3%;}
}

