*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}
body{  background-image: url("background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
  overflow: hidden;
  
}

.card-num{
  display: block;
  
  border-radius: 100%;
  border:none;
display: flex;
align-self: center;
justify-self: center;

  
  
}
.Card-container{
 
  
  border:none;
 
  
  display:grid ;

  grid-template-columns: repeat(5,18%); 
  
  grid-template-rows: repeat(4, 15%);
  gap: 3%;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  box-shadow: 10px 10px 5px black;
  
  


}
#root{
  
  
  
border: solid 2px black;


 margin: 0% 25% 0% 25%;

}
.card-face{
  
  


border: solid 1px black;
  border-radius: 50%;
  border: none;
 
  
 
}
.titletext{font-size: 1.5rem;
  font-weight: 900;
color: rgb(198, 198, 246);}
.cards{


border: none;


}
.cardalt{
  
 border-radius: 100%;
  width: 20%;
 border: none;

}
img{
  border-radius: 100%;
  width:100%;
  
  object-fit: cover;
}
main{
  vertical-align: top;

}



