*{
  padding: 0%;
  margin: 0%;
  display: block;
}
body{background:  no-repeat url('.\background.jpg');
  
}

.card-num{
  
  border-radius: 10px;
  border:none;
display: flex;
align-self: center;
justify-self: center;

  
  
}
.Card-container{
 
gap: 0;
  border:none;
  
  display:grid ;
  grid-template-columns: repeat(5,minmax(0, 20fr)); 
  

 


}
#root{
  background-color: black;
  
  
border: none;
border-radius: 10px;

margin: 0% 25% 0% 25%;
box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}
.card-face{
  display: flex;
  align-items: center;
  justify-content: center;
height: 70%;
  border-radius: 10px;
  border: none;
 
  
 
}
.titletext{font-size: 1rem;}
.cards{
height:10%;

border: none;


}
.cardalt{
  height:10%;
 
  width: 20%;
 border: none;

}
img{
width: 100%;
height: 50%;
}
